<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
        <meta name="keywords" content="Giriş Yapın"/>
        <meta name="descriptipn" content="Free programming"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="assets/css/style2.css"/>



    </head>


    <body>

        <div id="login-container">

            <div class="logo">
                <img src="/icons/logo.png" alt="logo" width="100" height="100">
            </div>

            
            <div class="form-input">

                <pre class="siginifnot">You have an account? <a th:href="@{/login}">Sign in</a></pre>


                <form th:action="@{/signupPerson}" method="post" th:object="${personModel}">
                    <div class="form-element">
                    <label for="username">Username:</label>
                    <input type="text"  th:field=*{username} name="username" id="username">
                    </div>
                    
                    <div class="form-element">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email">
                    </div>
                    
                    
                    <div class="form-element">
                    <label for="password">Password:</label>
                    <input type="password" th:field=*{pw} name="password" id="password">
                    </div>

                    <div class="form-element">
                    <label for="password2">Password again:</label>
                    <input type="password" name="password2" id="password2">
                </div>


                <div class="submitform">
                    <input type="submit" value="Sign Up">
                </div>





                </form>
            </div>

            </div>







        </div>
        








    </body>
</html>